@model ActorViewModel
@{
}

<h2>Details</h2>
<p>
	<strong>ActorId:</strong>
	</p>
	<p>
		<strong>FirstName:</strong>
		@Model.FirstName
		</p>
		<p>
			<strong>LastName:</strong>
			@Model.LastName
			</p>
			<p>
				<strong>BirthDate:</strong>
				@Model.
				</p>
				<p>
					<strong

